<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.outer.dao.CsysTrsLogMapper">
  <resultMap id="BaseResultMap" type="com.company.project.outer.model.CsysTrsLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CSYS_TRS_LOG_ID" jdbcType="VARCHAR" property="csysTrsLogId" />
    <result column="CSYS_WORKFLOW_ID" jdbcType="VARCHAR" property="csysWorkflowId" />
    <result column="CSYS_TRS_LOG_TYPE" jdbcType="CHAR" property="csysTrsLogType" />
    <result column="CSYS_USER_ID" jdbcType="VARCHAR" property="csysUserId" />
    <result column="CSYS_TRS_LOG_TABLE" jdbcType="VARCHAR" property="csysTrsLogTable" />
    <result column="CSYS_TRS_LOG_TABLE_VAL" jdbcType="VARCHAR" property="csysTrsLogTableVal" />
    <result column="CSYS_WORKFLOW_RUN_ID" jdbcType="VARCHAR" property="csysWorkflowRunId" />
    <result column="CSYS_POINT_TRS_ID" jdbcType="VARCHAR" property="csysPointTrsId" />
    <result column="CSYS_TRS_LOG_LAST_ID" jdbcType="VARCHAR" property="csysTrsLogLastId" />
    <result column="CSYS_TRS_LOG_LAST_NAME" jdbcType="VARCHAR" property="csysTrsLogLastName" />
    <result column="CSYS_TRS_LOG_CURRENT_ID" jdbcType="VARCHAR" property="csysTrsLogCurrentId" />
    <result column="CSYS_TRS_LOG_CURRENT_NAME" jdbcType="VARCHAR" property="csysTrsLogCurrentName" />
    <result column="CSYS_TRS_LOG_START_TIME" jdbcType="TIMESTAMP" property="csysTrsLogStartTime" />
    <result column="CSYS_TRS_LOG_CLOSE_TIME" jdbcType="TIMESTAMP" property="csysTrsLogCloseTime" />
    <result column="CSYS_TRS_LOG_END_TIME" jdbcType="TIMESTAMP" property="csysTrsLogEndTime" />
    <result column="CSYS_TRS_LOG_DESC" jdbcType="VARCHAR" property="csysTrsLogDesc" />
    <result column="CSYS_TRS_LOG_CREATE_TIME" jdbcType="TIMESTAMP" property="csysTrsLogCreateTime" />
    <result column="CSYS_TRS_LOG_CREATE_USER" jdbcType="VARCHAR" property="csysTrsLogCreateUser" />
    <result column="CSYS_TRS_LOG_MODIFY_USER" jdbcType="VARCHAR" property="csysTrsLogModifyUser" />
    <result column="CSYS_TRS_LOG_MODIFY_TIME" jdbcType="TIMESTAMP" property="csysTrsLogModifyTime" />
    <result column="CSYS_TRS_LOG_IS_DELETE" jdbcType="CHAR" property="csysTrsLogIsDelete" />
    <result column="CSYS_TRS_LOG_TIME" jdbcType="TIMESTAMP" property="csysTrsLogTime" />
    <result column="CSYS_TRS_LOG_DATE" jdbcType="TIMESTAMP" property="csysTrsLogDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    CSYS_TRS_LOG_ID, CSYS_WORKFLOW_ID, CSYS_TRS_LOG_TYPE, CSYS_USER_ID, CSYS_TRS_LOG_TABLE, 
    CSYS_TRS_LOG_TABLE_VAL, CSYS_WORKFLOW_RUN_ID, CSYS_POINT_TRS_ID, CSYS_TRS_LOG_LAST_ID, 
    CSYS_TRS_LOG_LAST_NAME, CSYS_TRS_LOG_CURRENT_ID, CSYS_TRS_LOG_CURRENT_NAME, CSYS_TRS_LOG_START_TIME, 
    CSYS_TRS_LOG_CLOSE_TIME, CSYS_TRS_LOG_END_TIME, CSYS_TRS_LOG_DESC, CSYS_TRS_LOG_CREATE_TIME, 
    CSYS_TRS_LOG_CREATE_USER, CSYS_TRS_LOG_MODIFY_USER, CSYS_TRS_LOG_MODIFY_TIME, CSYS_TRS_LOG_IS_DELETE, 
    CSYS_TRS_LOG_TIME, CSYS_TRS_LOG_DATE
  </sql>
  <select id="selectByExample" parameterType="com.company.project.outer.model.CsysTrsLogExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSYS_TRS_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.company.project.outer.model.CsysTrsLogExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from CSYS_TRS_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.company.project.outer.model.CsysTrsLogExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from CSYS_TRS_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_TRS_LOG
    <set>
      <if test="record.csysTrsLogId != null">
        CSYS_TRS_LOG_ID = #{record.csysTrsLogId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysWorkflowId != null">
        CSYS_WORKFLOW_ID = #{record.csysWorkflowId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogType != null">
        CSYS_TRS_LOG_TYPE = #{record.csysTrsLogType,jdbcType=CHAR},
      </if>
      <if test="record.csysUserId != null">
        CSYS_USER_ID = #{record.csysUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogTable != null">
        CSYS_TRS_LOG_TABLE = #{record.csysTrsLogTable,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogTableVal != null">
        CSYS_TRS_LOG_TABLE_VAL = #{record.csysTrsLogTableVal,jdbcType=VARCHAR},
      </if>
      <if test="record.csysWorkflowRunId != null">
        CSYS_WORKFLOW_RUN_ID = #{record.csysWorkflowRunId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPointTrsId != null">
        CSYS_POINT_TRS_ID = #{record.csysPointTrsId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogLastId != null">
        CSYS_TRS_LOG_LAST_ID = #{record.csysTrsLogLastId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogLastName != null">
        CSYS_TRS_LOG_LAST_NAME = #{record.csysTrsLogLastName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogCurrentId != null">
        CSYS_TRS_LOG_CURRENT_ID = #{record.csysTrsLogCurrentId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogCurrentName != null">
        CSYS_TRS_LOG_CURRENT_NAME = #{record.csysTrsLogCurrentName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogStartTime != null">
        CSYS_TRS_LOG_START_TIME = #{record.csysTrsLogStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogCloseTime != null">
        CSYS_TRS_LOG_CLOSE_TIME = #{record.csysTrsLogCloseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogEndTime != null">
        CSYS_TRS_LOG_END_TIME = #{record.csysTrsLogEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogDesc != null">
        CSYS_TRS_LOG_DESC = #{record.csysTrsLogDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogCreateTime != null">
        CSYS_TRS_LOG_CREATE_TIME = #{record.csysTrsLogCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogCreateUser != null">
        CSYS_TRS_LOG_CREATE_USER = #{record.csysTrsLogCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogModifyUser != null">
        CSYS_TRS_LOG_MODIFY_USER = #{record.csysTrsLogModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.csysTrsLogModifyTime != null">
        CSYS_TRS_LOG_MODIFY_TIME = #{record.csysTrsLogModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogIsDelete != null">
        CSYS_TRS_LOG_IS_DELETE = #{record.csysTrsLogIsDelete,jdbcType=CHAR},
      </if>
      <if test="record.csysTrsLogTime != null">
        CSYS_TRS_LOG_TIME = #{record.csysTrsLogTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysTrsLogDate != null">
        CSYS_TRS_LOG_DATE = #{record.csysTrsLogDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_TRS_LOG
    set CSYS_TRS_LOG_ID = #{record.csysTrsLogId,jdbcType=VARCHAR},
      CSYS_WORKFLOW_ID = #{record.csysWorkflowId,jdbcType=VARCHAR},
      CSYS_TRS_LOG_TYPE = #{record.csysTrsLogType,jdbcType=CHAR},
      CSYS_USER_ID = #{record.csysUserId,jdbcType=VARCHAR},
      CSYS_TRS_LOG_TABLE = #{record.csysTrsLogTable,jdbcType=VARCHAR},
      CSYS_TRS_LOG_TABLE_VAL = #{record.csysTrsLogTableVal,jdbcType=VARCHAR},
      CSYS_WORKFLOW_RUN_ID = #{record.csysWorkflowRunId,jdbcType=VARCHAR},
      CSYS_POINT_TRS_ID = #{record.csysPointTrsId,jdbcType=VARCHAR},
      CSYS_TRS_LOG_LAST_ID = #{record.csysTrsLogLastId,jdbcType=VARCHAR},
      CSYS_TRS_LOG_LAST_NAME = #{record.csysTrsLogLastName,jdbcType=VARCHAR},
      CSYS_TRS_LOG_CURRENT_ID = #{record.csysTrsLogCurrentId,jdbcType=VARCHAR},
      CSYS_TRS_LOG_CURRENT_NAME = #{record.csysTrsLogCurrentName,jdbcType=VARCHAR},
      CSYS_TRS_LOG_START_TIME = #{record.csysTrsLogStartTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_CLOSE_TIME = #{record.csysTrsLogCloseTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_END_TIME = #{record.csysTrsLogEndTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_DESC = #{record.csysTrsLogDesc,jdbcType=VARCHAR},
      CSYS_TRS_LOG_CREATE_TIME = #{record.csysTrsLogCreateTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_CREATE_USER = #{record.csysTrsLogCreateUser,jdbcType=VARCHAR},
      CSYS_TRS_LOG_MODIFY_USER = #{record.csysTrsLogModifyUser,jdbcType=VARCHAR},
      CSYS_TRS_LOG_MODIFY_TIME = #{record.csysTrsLogModifyTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_IS_DELETE = #{record.csysTrsLogIsDelete,jdbcType=CHAR},
      CSYS_TRS_LOG_TIME = #{record.csysTrsLogTime,jdbcType=TIMESTAMP},
      CSYS_TRS_LOG_DATE = #{record.csysTrsLogDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>