<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CsysExcelImportViewMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CsysExcelImportView">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CSYS_EXCEL_ATTACH_ID" jdbcType="VARCHAR" property="csysExcelAttachId" />
    <result column="CSYS_EXCEL_ATTACH_FIELD_ROW" jdbcType="DECIMAL" property="csysExcelAttachFieldRow" />
    <result column="CSYS_EXCEL_ATTACH_FIELD_COLUMN" jdbcType="DECIMAL" property="csysExcelAttachFieldColumn" />
    <result column="CSYS_EXCEL_ATTACH_IS_PRIMARY" jdbcType="CHAR" property="csysExcelAttachIsPrimary" />
    <result column="CSYS_EXCEL_ATTACH_TRANSFERSQL" jdbcType="VARCHAR" property="csysExcelAttachTransfersql" />
    <result column="CSYS_EXCEL_ATTACH_FIELD_NAME" jdbcType="VARCHAR" property="csysExcelAttachFieldName" />
    <result column="CSYS_EXCEL_ATTACH_FIELD_DESC" jdbcType="VARCHAR" property="csysExcelAttachFieldDesc" />
    <result column="CSYS_EXCEL_IMPORT_ID" jdbcType="VARCHAR" property="csysExcelImportId" />
    <result column="CSYS_EXCEL_IMPORT_NAME" jdbcType="VARCHAR" property="csysExcelImportName" />
    <result column="CSYS_EXCEL_IMPORT_TYPE" jdbcType="CHAR" property="csysExcelImportType" />
    <result column="CSYS_EXCEL_IMPORT_DL_NAME" jdbcType="VARCHAR" property="csysExcelImportDlName" />
    <result column="CSYS_EXCEL_IMPORT_FILE" jdbcType="VARCHAR" property="csysExcelImportFile" />
    <result column="CSYS_EXCEL_IMPORT_READ_ROW" jdbcType="DECIMAL" property="csysExcelImportReadRow" />
    <result column="CSYS_EXCEL_IMPORT_BF_PRC" jdbcType="VARCHAR" property="csysExcelImportBfPrc" />
    <result column="CSYS_EXCEL_IMPORT_CR_PRC" jdbcType="VARCHAR" property="csysExcelImportCrPrc" />
    <result column="CSYS_EXCEL_IMPORT_AF_PRC" jdbcType="VARCHAR" property="csysExcelImportAfPrc" />
    <result column="CSYS_EXCEL_IMPORT_DESC" jdbcType="VARCHAR" property="csysExcelImportDesc" />
    <result column="CSYS_EXCEL_IMPORT_TIME" jdbcType="TIMESTAMP" property="csysExcelImportTime" />
    <result column="CSYS_EXCEL_IMPORT_DATE" jdbcType="TIMESTAMP" property="csysExcelImportDate" />
    <result column="CSYS_FIELD_INFO_ID" jdbcType="VARCHAR" property="csysFieldInfoId" />
    <result column="CSYS_FIELD_INFO_NAME" jdbcType="VARCHAR" property="csysFieldInfoName" />
    <result column="CSYS_FIELD_INFO_RELNAME" jdbcType="VARCHAR" property="csysFieldInfoRelname" />
    <result column="CSYS_FIELD_INFO_REGION" jdbcType="VARCHAR" property="csysFieldInfoRegion" />
    <result column="CSYS_FIELD_INFO_ATTRIBUTE" jdbcType="VARCHAR" property="csysFieldInfoAttribute" />
    <result column="CSYS_FIELD_INFO_TYPE" jdbcType="VARCHAR" property="csysFieldInfoType" />
    <result column="CSYS_FIELD_INFO_DEFAULT" jdbcType="VARCHAR" property="csysFieldInfoDefault" />
    <result column="CSYS_FIELD_INFO_DATE" jdbcType="TIMESTAMP" property="csysFieldInfoDate" />
    <result column="CSYS_VIEW_EXPLAIN_ID" jdbcType="VARCHAR" property="csysViewExplainId" />
    <result column="CSYS_VIEW_EXPLAIN_NAME" jdbcType="VARCHAR" property="csysViewExplainName" />
    <result column="CSYS_VIEW_EXPLAIN_TYPE" jdbcType="CHAR" property="csysViewExplainType" />
    <result column="CSYS_VIEW_EXPLAIN_DESC" jdbcType="VARCHAR" property="csysViewExplainDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    CSYS_EXCEL_ATTACH_ID, CSYS_EXCEL_ATTACH_FIELD_ROW, CSYS_EXCEL_ATTACH_FIELD_COLUMN, 
    CSYS_EXCEL_ATTACH_IS_PRIMARY, CSYS_EXCEL_ATTACH_TRANSFERSQL, CSYS_EXCEL_ATTACH_FIELD_NAME, 
    CSYS_EXCEL_ATTACH_FIELD_DESC, CSYS_EXCEL_IMPORT_ID, CSYS_EXCEL_IMPORT_NAME, CSYS_EXCEL_IMPORT_TYPE, 
    CSYS_EXCEL_IMPORT_DL_NAME, CSYS_EXCEL_IMPORT_FILE, CSYS_EXCEL_IMPORT_READ_ROW, CSYS_EXCEL_IMPORT_BF_PRC, 
    CSYS_EXCEL_IMPORT_CR_PRC, CSYS_EXCEL_IMPORT_AF_PRC, CSYS_EXCEL_IMPORT_DESC, CSYS_EXCEL_IMPORT_TIME, 
    CSYS_EXCEL_IMPORT_DATE, CSYS_FIELD_INFO_ID, CSYS_FIELD_INFO_NAME, CSYS_FIELD_INFO_RELNAME, 
    CSYS_FIELD_INFO_REGION, CSYS_FIELD_INFO_ATTRIBUTE, CSYS_FIELD_INFO_TYPE, CSYS_FIELD_INFO_DEFAULT, 
    CSYS_FIELD_INFO_DATE, CSYS_VIEW_EXPLAIN_ID, CSYS_VIEW_EXPLAIN_NAME, CSYS_VIEW_EXPLAIN_TYPE, 
    CSYS_VIEW_EXPLAIN_DESC
  </sql>
  <select id="selectByExample" parameterType="com.company.project.model.CsysExcelImportViewExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSYS_EXCEL_IMPORT_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.company.project.model.CsysExcelImportViewExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from CSYS_EXCEL_IMPORT_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.company.project.model.CsysExcelImportViewExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from CSYS_EXCEL_IMPORT_VIEW
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_EXCEL_IMPORT_VIEW
    <set>
      <if test="record.csysExcelAttachId != null">
        CSYS_EXCEL_ATTACH_ID = #{record.csysExcelAttachId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelAttachFieldRow != null">
        CSYS_EXCEL_ATTACH_FIELD_ROW = #{record.csysExcelAttachFieldRow,jdbcType=DECIMAL},
      </if>
      <if test="record.csysExcelAttachFieldColumn != null">
        CSYS_EXCEL_ATTACH_FIELD_COLUMN = #{record.csysExcelAttachFieldColumn,jdbcType=DECIMAL},
      </if>
      <if test="record.csysExcelAttachIsPrimary != null">
        CSYS_EXCEL_ATTACH_IS_PRIMARY = #{record.csysExcelAttachIsPrimary,jdbcType=CHAR},
      </if>
      <if test="record.csysExcelAttachTransfersql != null">
        CSYS_EXCEL_ATTACH_TRANSFERSQL = #{record.csysExcelAttachTransfersql,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelAttachFieldName != null">
        CSYS_EXCEL_ATTACH_FIELD_NAME = #{record.csysExcelAttachFieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelAttachFieldDesc != null">
        CSYS_EXCEL_ATTACH_FIELD_DESC = #{record.csysExcelAttachFieldDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportId != null">
        CSYS_EXCEL_IMPORT_ID = #{record.csysExcelImportId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportName != null">
        CSYS_EXCEL_IMPORT_NAME = #{record.csysExcelImportName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportType != null">
        CSYS_EXCEL_IMPORT_TYPE = #{record.csysExcelImportType,jdbcType=CHAR},
      </if>
      <if test="record.csysExcelImportDlName != null">
        CSYS_EXCEL_IMPORT_DL_NAME = #{record.csysExcelImportDlName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportFile != null">
        CSYS_EXCEL_IMPORT_FILE = #{record.csysExcelImportFile,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportReadRow != null">
        CSYS_EXCEL_IMPORT_READ_ROW = #{record.csysExcelImportReadRow,jdbcType=DECIMAL},
      </if>
      <if test="record.csysExcelImportBfPrc != null">
        CSYS_EXCEL_IMPORT_BF_PRC = #{record.csysExcelImportBfPrc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportCrPrc != null">
        CSYS_EXCEL_IMPORT_CR_PRC = #{record.csysExcelImportCrPrc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportAfPrc != null">
        CSYS_EXCEL_IMPORT_AF_PRC = #{record.csysExcelImportAfPrc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportDesc != null">
        CSYS_EXCEL_IMPORT_DESC = #{record.csysExcelImportDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysExcelImportTime != null">
        CSYS_EXCEL_IMPORT_TIME = #{record.csysExcelImportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysExcelImportDate != null">
        CSYS_EXCEL_IMPORT_DATE = #{record.csysExcelImportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysFieldInfoId != null">
        CSYS_FIELD_INFO_ID = #{record.csysFieldInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoName != null">
        CSYS_FIELD_INFO_NAME = #{record.csysFieldInfoName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoRelname != null">
        CSYS_FIELD_INFO_RELNAME = #{record.csysFieldInfoRelname,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoRegion != null">
        CSYS_FIELD_INFO_REGION = #{record.csysFieldInfoRegion,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoAttribute != null">
        CSYS_FIELD_INFO_ATTRIBUTE = #{record.csysFieldInfoAttribute,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoType != null">
        CSYS_FIELD_INFO_TYPE = #{record.csysFieldInfoType,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoDefault != null">
        CSYS_FIELD_INFO_DEFAULT = #{record.csysFieldInfoDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.csysFieldInfoDate != null">
        CSYS_FIELD_INFO_DATE = #{record.csysFieldInfoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysViewExplainId != null">
        CSYS_VIEW_EXPLAIN_ID = #{record.csysViewExplainId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysViewExplainName != null">
        CSYS_VIEW_EXPLAIN_NAME = #{record.csysViewExplainName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysViewExplainType != null">
        CSYS_VIEW_EXPLAIN_TYPE = #{record.csysViewExplainType,jdbcType=CHAR},
      </if>
      <if test="record.csysViewExplainDesc != null">
        CSYS_VIEW_EXPLAIN_DESC = #{record.csysViewExplainDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_EXCEL_IMPORT_VIEW
    set CSYS_EXCEL_ATTACH_ID = #{record.csysExcelAttachId,jdbcType=VARCHAR},
      CSYS_EXCEL_ATTACH_FIELD_ROW = #{record.csysExcelAttachFieldRow,jdbcType=DECIMAL},
      CSYS_EXCEL_ATTACH_FIELD_COLUMN = #{record.csysExcelAttachFieldColumn,jdbcType=DECIMAL},
      CSYS_EXCEL_ATTACH_IS_PRIMARY = #{record.csysExcelAttachIsPrimary,jdbcType=CHAR},
      CSYS_EXCEL_ATTACH_TRANSFERSQL = #{record.csysExcelAttachTransfersql,jdbcType=VARCHAR},
      CSYS_EXCEL_ATTACH_FIELD_NAME = #{record.csysExcelAttachFieldName,jdbcType=VARCHAR},
      CSYS_EXCEL_ATTACH_FIELD_DESC = #{record.csysExcelAttachFieldDesc,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_ID = #{record.csysExcelImportId,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_NAME = #{record.csysExcelImportName,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_TYPE = #{record.csysExcelImportType,jdbcType=CHAR},
      CSYS_EXCEL_IMPORT_DL_NAME = #{record.csysExcelImportDlName,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_FILE = #{record.csysExcelImportFile,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_READ_ROW = #{record.csysExcelImportReadRow,jdbcType=DECIMAL},
      CSYS_EXCEL_IMPORT_BF_PRC = #{record.csysExcelImportBfPrc,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_CR_PRC = #{record.csysExcelImportCrPrc,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_AF_PRC = #{record.csysExcelImportAfPrc,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_DESC = #{record.csysExcelImportDesc,jdbcType=VARCHAR},
      CSYS_EXCEL_IMPORT_TIME = #{record.csysExcelImportTime,jdbcType=TIMESTAMP},
      CSYS_EXCEL_IMPORT_DATE = #{record.csysExcelImportDate,jdbcType=TIMESTAMP},
      CSYS_FIELD_INFO_ID = #{record.csysFieldInfoId,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_NAME = #{record.csysFieldInfoName,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_RELNAME = #{record.csysFieldInfoRelname,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_REGION = #{record.csysFieldInfoRegion,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_ATTRIBUTE = #{record.csysFieldInfoAttribute,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_TYPE = #{record.csysFieldInfoType,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_DEFAULT = #{record.csysFieldInfoDefault,jdbcType=VARCHAR},
      CSYS_FIELD_INFO_DATE = #{record.csysFieldInfoDate,jdbcType=TIMESTAMP},
      CSYS_VIEW_EXPLAIN_ID = #{record.csysViewExplainId,jdbcType=VARCHAR},
      CSYS_VIEW_EXPLAIN_NAME = #{record.csysViewExplainName,jdbcType=VARCHAR},
      CSYS_VIEW_EXPLAIN_TYPE = #{record.csysViewExplainType,jdbcType=CHAR},
      CSYS_VIEW_EXPLAIN_DESC = #{record.csysViewExplainDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>