<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CsysPotPublicMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CsysPotPublic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CSYS_POT_PUBLIC_ID" jdbcType="VARCHAR" property="csysPotPublicId" />
    <result column="CSYS_POT_PUBLIC_NAME" jdbcType="VARCHAR" property="csysPotPublicName" />
    <result column="CSYS_POT_PUBLIC_DESC" jdbcType="VARCHAR" property="csysPotPublicDesc" />
    <result column="CSYS_POT_PUBLIC_CREATE_TIME" jdbcType="TIMESTAMP" property="csysPotPublicCreateTime" />
    <result column="CSYS_POT_PUBLIC_MODIFY_TIME" jdbcType="TIMESTAMP" property="csysPotPublicModifyTime" />
    <result column="CSYS_POT_PUBLIC_CREATE_USER" jdbcType="VARCHAR" property="csysPotPublicCreateUser" />
    <result column="CSYS_POT_PUBLIC_MODIFY_USER" jdbcType="VARCHAR" property="csysPotPublicModifyUser" />
    <result column="CSYS_POT_PUBLIC_IS_DELETE" jdbcType="CHAR" property="csysPotPublicIsDelete" />
    <result column="CSYS_POT_PUBLIC_DATE" jdbcType="TIMESTAMP" property="csysPotPublicDate" />
    <result column="CSYS_POT_PUBLIC_TIME" jdbcType="TIMESTAMP" property="csysPotPublicTime" />
    <result column="CSYS_POT_STYLE_ID" jdbcType="VARCHAR" property="csysPotStyleId" />
    <result column="CSYS_POT_GROUP_ID" jdbcType="VARCHAR" property="csysPotGroupId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    CSYS_POT_PUBLIC_ID, CSYS_POT_PUBLIC_NAME, CSYS_POT_PUBLIC_DESC, CSYS_POT_PUBLIC_CREATE_TIME, 
    CSYS_POT_PUBLIC_MODIFY_TIME, CSYS_POT_PUBLIC_CREATE_USER, CSYS_POT_PUBLIC_MODIFY_USER, 
    CSYS_POT_PUBLIC_IS_DELETE, CSYS_POT_PUBLIC_DATE, CSYS_POT_PUBLIC_TIME, CSYS_POT_STYLE_ID, 
    CSYS_POT_GROUP_ID
  </sql>
</mapper>