<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project..dao.CsysPotPublicMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CsysPotPublic">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CSYS_POT_PUBLIC_ID" jdbcType="VARCHAR" property="csysPotPublicId" />
    <result column="CSYS_POT_NAME" jdbcType="VARCHAR" property="csysPotName" />
    <result column="CSYS_POT_PUBLIC_DESC" jdbcType="VARCHAR" property="csysPotPublicDesc" />
    <result column="CSYS_POT_PUBLIC_CREATE_TIME" jdbcType="TIMESTAMP" property="csysPotPublicCreateTime" />
    <result column="CSYS_POT_PUBLIC_MODIFY_TIME" jdbcType="TIMESTAMP" property="csysPotPublicModifyTime" />
    <result column="CSYS_POT_PUBLIC_CREATE_USER" jdbcType="VARCHAR" property="csysPotPublicCreateUser" />
    <result column="CSYS_POT_PUBLIC_MODIFY_USER" jdbcType="VARCHAR" property="csysPotPublicModifyUser" />
    <result column="CSYS_POT_PUBLIC_IS_DELETE" jdbcType="CHAR" property="csysPotPublicIsDelete" />
    <result column="CSYS_POT_PUBLIC_DATE" jdbcType="TIMESTAMP" property="csysPotPublicDate" />
    <result column="CSYS_POT_PUBLIC_TIME" jdbcType="TIMESTAMP" property="csysPotPublicTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    CSYS_POT_PUBLIC_ID, CSYS_POT_NAME, CSYS_POT_PUBLIC_DESC, CSYS_POT_PUBLIC_CREATE_TIME, 
    CSYS_POT_PUBLIC_MODIFY_TIME, CSYS_POT_PUBLIC_CREATE_USER, CSYS_POT_PUBLIC_MODIFY_USER, 
    CSYS_POT_PUBLIC_IS_DELETE, CSYS_POT_PUBLIC_DATE, CSYS_POT_PUBLIC_TIME
  </sql>
  <select id="selectByExample" parameterType="com.company.project.model.CsysPotPublicExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CSYS_POT_PUBLIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.company.project.model.CsysPotPublicExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from CSYS_POT_PUBLIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.company.project.model.CsysPotPublicExample" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from CSYS_POT_PUBLIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_POT_PUBLIC
    <set>
      <if test="record.csysPotPublicId != null">
        CSYS_POT_PUBLIC_ID = #{record.csysPotPublicId,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPotName != null">
        CSYS_POT_NAME = #{record.csysPotName,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPotPublicDesc != null">
        CSYS_POT_PUBLIC_DESC = #{record.csysPotPublicDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPotPublicCreateTime != null">
        CSYS_POT_PUBLIC_CREATE_TIME = #{record.csysPotPublicCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysPotPublicModifyTime != null">
        CSYS_POT_PUBLIC_MODIFY_TIME = #{record.csysPotPublicModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysPotPublicCreateUser != null">
        CSYS_POT_PUBLIC_CREATE_USER = #{record.csysPotPublicCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPotPublicModifyUser != null">
        CSYS_POT_PUBLIC_MODIFY_USER = #{record.csysPotPublicModifyUser,jdbcType=VARCHAR},
      </if>
      <if test="record.csysPotPublicIsDelete != null">
        CSYS_POT_PUBLIC_IS_DELETE = #{record.csysPotPublicIsDelete,jdbcType=CHAR},
      </if>
      <if test="record.csysPotPublicDate != null">
        CSYS_POT_PUBLIC_DATE = #{record.csysPotPublicDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.csysPotPublicTime != null">
        CSYS_POT_PUBLIC_TIME = #{record.csysPotPublicTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update CSYS_POT_PUBLIC
    set CSYS_POT_PUBLIC_ID = #{record.csysPotPublicId,jdbcType=VARCHAR},
      CSYS_POT_NAME = #{record.csysPotName,jdbcType=VARCHAR},
      CSYS_POT_PUBLIC_DESC = #{record.csysPotPublicDesc,jdbcType=VARCHAR},
      CSYS_POT_PUBLIC_CREATE_TIME = #{record.csysPotPublicCreateTime,jdbcType=TIMESTAMP},
      CSYS_POT_PUBLIC_MODIFY_TIME = #{record.csysPotPublicModifyTime,jdbcType=TIMESTAMP},
      CSYS_POT_PUBLIC_CREATE_USER = #{record.csysPotPublicCreateUser,jdbcType=VARCHAR},
      CSYS_POT_PUBLIC_MODIFY_USER = #{record.csysPotPublicModifyUser,jdbcType=VARCHAR},
      CSYS_POT_PUBLIC_IS_DELETE = #{record.csysPotPublicIsDelete,jdbcType=CHAR},
      CSYS_POT_PUBLIC_DATE = #{record.csysPotPublicDate,jdbcType=TIMESTAMP},
      CSYS_POT_PUBLIC_TIME = #{record.csysPotPublicTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>