<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CsysPotTrsConMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CsysPotTrsCon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CSYS_POT_TRS_CON_ID" jdbcType="VARCHAR" property="csysPotTrsConId" />
    <result column="CSYS_WORKFLOW_ID" jdbcType="VARCHAR" property="csysWorkflowId" />
    <result column="CSYS_POT_TRS_ID" jdbcType="VARCHAR" property="csysPotTrsId" />
    <result column="CSYS_POT_TRS_CON_RAW_DATA" jdbcType="VARCHAR" property="csysPotTrsConRawData" />
    <result column="CSYS_POT_TRS_CON_METHOD" jdbcType="VARCHAR" property="csysPotTrsConMethod" />
    <result column="CSYS_POT_TRS_CON_CONTRAST_DATA" jdbcType="VARCHAR" property="csysPotTrsConContrastData" />
    <result column="CSYS_POT_TRS_CON_INFO" jdbcType="VARCHAR" property="csysPotTrsConInfo" />
    <result column="CSYS_POT_TRS_CON_DESC" jdbcType="VARCHAR" property="csysPotTrsConDesc" />
    <result column="CSYS_POT_TRS_CON_TIME" jdbcType="TIMESTAMP" property="csysPotTrsConTime" />
    <result column="CSYS_POT_TRS_CON_DATE" jdbcType="TIMESTAMP" property="csysPotTrsConDate" />
    <result column="CSYS_POT_TRS_CON_CREATE_TIME" jdbcType="TIMESTAMP" property="csysPotTrsConCreateTime" />
    <result column="CSYS_POT_TRS_CON_CREATE_USER" jdbcType="VARCHAR" property="csysPotTrsConCreateUser" />
    <result column="CSYS_POT_TRS_CON_MODIFY_TIME" jdbcType="TIMESTAMP" property="csysPotTrsConModifyTime" />
    <result column="CSYS_POT_TRS_CON_MODIFY_USER" jdbcType="VARCHAR" property="csysPotTrsConModifyUser" />
    <result column="CSYS_POT_TRS_CON_IS_DELETE" jdbcType="CHAR" property="csysPotTrsConIsDelete" />
    <result column="CSYS_POT_TRS_CON_TYPE" jdbcType="VARCHAR" property="csysPotTrsConType" />
    <result column="CSYS_TRS_RULE_ID" jdbcType="VARCHAR" property="csysTrsRuleId" />
    <result column="CSYS_TRS_RULEDL_ID" jdbcType="VARCHAR" property="csysTrsRuledlId" />
    <result column="CSYS_TRS_RULESQL_ID" jdbcType="VARCHAR" property="csysTrsRulesqlId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    CSYS_POT_TRS_CON_ID, CSYS_WORKFLOW_ID, CSYS_POT_TRS_ID, CSYS_POT_TRS_CON_RAW_DATA, 
    CSYS_POT_TRS_CON_METHOD, CSYS_POT_TRS_CON_CONTRAST_DATA, CSYS_POT_TRS_CON_INFO, CSYS_POT_TRS_CON_DESC, 
    CSYS_POT_TRS_CON_TIME, CSYS_POT_TRS_CON_DATE, CSYS_POT_TRS_CON_CREATE_TIME, CSYS_POT_TRS_CON_CREATE_USER, 
    CSYS_POT_TRS_CON_MODIFY_TIME, CSYS_POT_TRS_CON_MODIFY_USER, CSYS_POT_TRS_CON_IS_DELETE, 
    CSYS_POT_TRS_CON_TYPE, CSYS_TRS_RULE_ID, CSYS_TRS_RULEDL_ID, CSYS_TRS_RULESQL_ID
  </sql>
</mapper>