<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SystemMapper">
 
  
 <select id="selectPublicItemList" parameterType="String"    timeout="8"  resultType="java.util.Map">
	${sqlStr}
</select>
<insert id="insertPublicItem" parameterType="String">
     ${sqlStr}
   
</insert>
<insert id="insertReturnKey"   parameterType="String">
      
    ${sqlStr}
   
</insert>
 <update id="updatePublicItem" parameterType="String">
 ${sqlStr}
 </update>
 
 <delete id="deletePublicItem" parameterType="String">
 ${sqlStr}
 </delete>
 
 
<select id="doProcedure" parameterType="HashMap"  statementType="CALLABLE" >
	 call ${procudure.procedureName}(
	 <foreach collection="params" item="item" index="index"  separator=",">
	  #{item.value,mode=IN,jdbcType=VARCHAR}
	 </foreach>
	  ,#{procudure.cursor, mode=OUT, jdbcType=CURSOR, resultMap=cursorMap}
	 )
</select>

 <select id="selectLastId" parameterType="String" resultType="String">
	${sqlStr}
</select>

 
</mapper>